_auth="bnkxNTg1NTpBS0NwNVozZmc3bUtLVlB1MzVNMXJqMVhmM1ZCRmJvVEdRbk1WMjVUOFNIWnJrdkN1ZlVxUW05bWVKa0hqaEhOcFoyczRtYVlO"
#proxy=http://proxyv.dpn.deere.com:81/
#https-proxy=http://proxyv.dpn.deere.com:81/
proxy=http://proxyapp.dx.deere.com:80
https-proxy=http://proxyapp.dx.deere.com:80
registry=https://repository.deere.com/artifactory/api/npm/deere-ui-mjd/
always-auth=true
cache=C:\bench\npm-cache
msvs_version=2015
python=C:\Python27/\python.exe
